header {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  height: 100px;
  background: #fff;
  overflow: hidden;
  padding: 0 100px;
  transition: height 0.5s, padding 0.5s;

  z-index: 9999;
}
header-fixed {
  position: fixed !important;
  left: 0 !important;
  top: 0 !important;
  width: 100% !important;
}

.nav {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  padding: 30px;
  align-items: center;
  font-family: "Bruno Ace", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.logo {
  position: relative;
  width: 153px;
  height: 45px;
  display: flex;
  justify-content: center;
}
.logo img {
  position: relative;
  width: 152px;
  height: 42px;
}
.gnb {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.side-nav {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.main {
  display: flex;
  justify-content: center;
  margin-top: 140px;
}

.text-1 {
  position: relative;
  display: flex;
  justify-content: start;
  margin-bottom: 40px;
}
.product {
  width: 100%;
  margin-top: 40px;
}

.product ul {
  position: relative;
  gap: 20px;
}
.product a {
  gap: 20px;
}

.product li {
  width: 100%;
  position: relative;
  align-items: flex-start;
  display: inline-block;
  justify-content: space-between;

  width: 500px;
  height: 100%;
}
.item-1 {
  transition: transform 0.3s ease;
}
.item-1:hover img {
  content: url(/images/mockup-1-1.png);
}
.item-2 {
  transition: transform 0.3s ease;
}
.item-2:hover img {
  content: url(/images/mockup-2-1.png);
}

.item-3 {
  transition: transform 0.3s ease;
}

.item-3:hover img {
  content: url(/images/mockup-3-1.png);
}
.text-2 {
  margin-top: 120px;
}

.content-1 {
  margin-top: 40px;
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

/* 이미지 마우스 호버 */
.sum-1 {
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.sum-1:hover img {
  content: url(/images/sum-2.png);
}

.sum-2 {
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease;
  cursor: pointer;
}
.sum-2:hover img {
  content: url(/images/sum-4.png);
}

.text-3 {
  margin-top: 20px;
  position: relative;
  display: flex;
  justify-content: center;

  overflow: hidden;
}
#text-3 {
  position: relative;
  display: flex;
  justify-content: center !important;
}

.main-2 {
  margin-top: 120px;
}
.animate {
  opacity: 0;
  transition: opacity 0.6s ease;
}

.animate.visible {
  opacity: 1;
}

.bounce-top {
  position: relative;
  display: flex;
  justify-content: start;
  animation: bounce-top 0.8s both;
  /* margin-top: 120px; */
  gap: 10px;
}

.sum-5 {
  margin-top: 200px;
}
.sum-7 {
  margin-top: 300px;
}

.text-4 {
  width: 850px;
  height: 300px;
  display: inline-block;
  text-align: center;
  margin-right: 100px;
}
.animate bounce-top-img {
  position: relative;
  display: flex;
}
@keyframes bounce-top {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/* #bounce-img {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-between;
} */
#bounce-img {
  width: 100%;
  position: relative;
  display: flex;
  justify-content: center; /* Centers horizontally */
  align-items: center; /* Centers vertically (optional) */
}
/* ----------------------------------------------
 * Generated by Animista on 2024-8-8 21:16:21
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation bounce-top
 * ----------------------------------------
 */
@-webkit-keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-45px);
    transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-24px);
    transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
}
@keyframes bounce-top {
  0% {
    -webkit-transform: translateY(-45px);
    transform: translateY(-45px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
    opacity: 1;
  }
  24% {
    opacity: 1;
  }
  40% {
    -webkit-transform: translateY(-24px);
    transform: translateY(-24px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  65% {
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  82% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  93% {
    -webkit-transform: translateY(-4px);
    transform: translateY(-4px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
  25%,
  55%,
  75%,
  87% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }
  100% {
    -webkit-transform: translateY(0px);
    transform: translateY(0px);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    opacity: 1;
  }
}

.slider {
  width: 100%;
  overflow: hidden;
  position: relative;
  margin-top: 120px;
}

.slider-inner {
  display: flex;
  width: 200%; /* 슬라이드 개수에 따라 조정 (2개의 슬라이드) */
  animation: slide 10s linear infinite;
}

.slide {
  flex: 1 0 100%;
}

.slide img {
  width: 100%;
  height: auto; /* 이미지의 비율을 유지 */
}

/* 애니메이션 정의 */
@keyframes slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

.swiper {
  width: 1540px;
  height: 1000px;
  margin-top: 120px;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  color: #ffffff; /* 버튼 화살표 색상 */
}

.zerowaste {
  position: relative;
  display: flex;
  width: 100%;
  height: auto;
  justify-content: space-between;
  margin-top: 120px;
}
/* 푸터 스타일 */
.footer {
  background-color: #2a754b; /* 배경색 */
  padding: 20px 0; /* 상하 패딩 */

  color: #fff;
  height: 300px;
  margin-top: 120px;
  width: 100%;
}

.footer-inner {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; /* 항목 사이에 공간 분배 */
  align-items: flex-start; /* 아이템을 상단에 정렬 */
  max-width: 1200px;

  flex-direction: row;
  margin-top: 60px;
  margin-left: 30px;
}

.footer-text {
  flex: 1;
  margin-bottom: 20px; /* 아래쪽 마진 */
}
.footer span {
  font-size: 35px;
  font-weight: 600;
  font-family: "Nanum Gothic", sans-serif;
}

.footer-text span {
  display: block;
  margin-bottom: 10px; /* 아래쪽 마진 */
  font-size: 20px; /* 폰트 크기 */
}

.footer-text p {
  font-size: 25px; /* 폰트 크기 */
  color: #6c757d; /* 색상 */
}

.footer-social,
.footer-contact {
  flex: 1;
  margin-bottom: 20px; /* 아래쪽 마진 */
}

.footer-social ul,
.footer-contact ul {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer li {
  margin-bottom: 10px; /* 아래쪽 마진 */
  font-size: 20px; /* 폰트 크기 */

  cursor: pointer;
}

.footer li:hover {
  text-decoration: underline; /* 호버 시 밑줄 추가 */
}
